<div class="welcome-block" id="repo-status">
<h2>Status</h2>
<ul>
  <li><label>Branch</label>: <%= repo.branch.name %></li>
  <% head = repo.commit_history.first -%>
  <li><label>Head</label>: <%= truncate(head.sha, 10) %> <%= truncate(head.message.gsub("\n",""), 80) %></li>
</ul>
<% if untracked.size > 0 -%>
<ul>
  <li>
    <label>Untracked files:</label> (<%= untracked.size %>)
    <ul>
      <% untracked.each do |page| -%>
      <li>
        <%= page %>
      </li>
      <% end -%>
    </ul>
  </li>
</ul>
<% end -%>
<% if changed.size > 0 -%>
<ul>
  <li>
    <label>Changes:</label> (<%= changed.size %>)
    <ul>
      <% changed.each do |page| -%>
        <li>
          <%= page[0] %>
        </li>
      <% end -%>
    </ul>
  </li>
</ul>
<% end -%>
</div>
