<div class="welcome-block" id="repo-status">
<h2>Status</h2>
<ul>
  <li>
    <% pages = status.untracked -%>
    <% if pages.size > 0 -%>
    <label>Untracked files:</label> (<%= pages.size %>)
    <ul>
      <% pages.each do |page| -%>
      <li>
	<% if page.class == Page -%>
	  <%= link_to(page.name, af_path(:view, page), :title => page.rel_path) %>
        <% elsif page.respond_to?(:path) -%>
	  <%= link_to(page.path, af_path(:view, File.join(repo.path, page.path))) %>
	<% end -%>
      </li>
      <% end -%>
    </ul>
    <% end -%>
  </li>
  <li>
    <% pages = (status.added + status.changed + status.deleted) -%>
    <% if pages.size > 0 -%>
    <label>Changes:</label> (<%= pages.size %>)
    <ul>
      <% pages.each do |page| -%>
        <% unless untracked.include?(page) -%>
        <li>
  	<% if page.class == Page -%>
	  <%= link_to(page.name, af_path(:view, page), :title => page.rel_path) %>
        <% elsif page.respond_to?(:path) -%>
	  <%= link_to(page.path, af_path(:view, File.join(repo.path, page.path))) %>
	<% end -%>
      </li>
      <% end -%>
      <% end -%>
    </ul>
    <% end -%>
  </li>
</ul>  
</div>
