<h1><%= @repo.name %></h1>

<p id="repo-git-welcome">
  Repo information for <%= @repo.name %>.  This page displays information on the
  <%= @repo.name %> git repository, I you'd rather you can also:
  <ul>
    <li><%= link_to("Enter", af_path(:enter, @repo)) %> <%= @repo.name %> if it has an index page</li>
    <li><%= link_to("Grep",  af_path(:grep,  @repo)) %> through <%= @repo.name %></li>
  </ul>
  
</p>

<div id="repo-log-graph">
  <h3>Log</h3>
  <pre>
    <%= @repo.git.lib.graph("HEAD~5") %>
  </pre>
</div>

<div id="repo-pages">
  <h3>Pages</h3>
  <ul>
    <% @repo.pages.each do |page| -%>
    <li>
      <%= link_to(page.name, af_path(:view, page), :title => page.rel_path) %>
    </li>
    <% end -%>
  </ul>
</div>

<div class="clear-both"></div>
