<%= render(:partial => 'shared/header', :locals => { :repo => @repo }) %>

<div id="repo-log-graph" class="welcome-block">
  <h2>Log</h2>
  <pre>
    <%= @repo.git.lib.graph("HEAD~5") %>
  </pre>
</div>

<div id="repo-pages" class="welcome-block">
  <h2>Pages</h2>
  <%= render(:partial => 'git_page_list', :locals => { :type => :untracked, :repo => @repo }) %>
  <%= render(:partial => 'git_page_list', :locals => { :type => :added, :repo => @repo }) %>
  <%= render(:partial => 'git_page_list', :locals => { :type => :deleted, :repo => @repo }) %>
  <%= render(:partial => 'git_page_list', :locals => { :type => :changed, :repo => @repo }) %>
  <%= render(:partial => 'git_page_list', :locals => { :type => :all, :repo => @repo }) %>
</div>

<div class="clear-both"></div>
