<% if logged_in? -%>
<div id="user-bar-in">
  Logged in as <%= link_to_current_user :content_method => :login %>
  (<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)
</div>
<% else -%>
<div id="user-bar-out">
  <%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %>
  (
  <%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
  <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
  )
</div>
<% end -%>
