<% page ||= false -%>
<% repo ||= false -%>
<div id="page-header">
  <% if repo -%>
    <ul class="info">
      <li>
	<label>
	  <%= link_to(repo.name,
                      af_path(:at, repo),
                      :title => "Back to the top of #{@repo.name}") %>
	</label>
	<%= link_to('[git]', af_path(:git, repo),
                    :title => "View git repository information for #{@repo.name}") %>
      </li>
      <li>
        <% if (page or repo).last_commit -%>
          <label>Last Commit:</label>
          <%= time_ago_in_words((page or repo).last_commit_at) %> ago by
	  <%= git_author((page or repo).last_commit_by) %>
        <% else -%>
	  <label>Untracked</label>
        <% end -%>
      </li>
      <% if logged_in? -%>
      <li class="action">
	<%= link_to("new", af_path(:new, page, :repo => @repo.path),
                    :class => 'new', :title => 'create a new page') %>
      </li>
      <% end -%>
    </ul>
  <% end -%>
  <% if page -%>
    <ul class="actions">
      <% if page.last_commit -%>
      <li class="action">
	<%= link_to_remote("history",
                           :url => af_path(:history, page),
                           :html => {:class => 'history', :title => 'view this pages commit history'}) %>
      </li>
      <% end -%>
      <% if logged_in? -%>
      <li class="action">
	<%= link_to_remote("edit",
                           :url => af_path(:edit, page),
                           :html => {:class => 'edit', :title => 'edit the content of this page'}) %>
      </li>
      <li class="action">
	<%= link_to("delete",
                    af_path(:delete, page),
                    :method => :delete,
                    :class => 'delete',
                    :confirm => 'Are you sure you want to irrevocably delete this page?',
                    :title => 'delete this page') %>
      </li>
      <% end -%>
      <li class="action">
	<%= link_to(".org",
                    af_path(:view, page, :format => :org),
                    :class => 'org',
                    :title => 'download this page in org-mode') %>
      </li>
      <li class="action">
	<%= link_to(".tex",
                    af_path(:view, page, :format => :tex),
                    :class => 'latex',
                    :title => 'download this page LaTeX') %>
      </li>
    </ul>
  <% end -%>
    <div class="clear-both"></div>
</div>
