<% repo ||= false -%>
<% page ||= false -%>
<% git  ||= false -%>
<div id="page-header">
  <% if repo -%>
    <ul class="info">
      <li>
	<label>
	  <%= link_to(repo.name,
                      af_path(:at, repo),
                      :title => "Back to the top of #{repo.name}") %>
	</label>
	<%= link_to('[git]', af_path(:git, repo),
                    :title => "View git repository information for #{repo.name}") %>
      </li>
      <li>
        <% if (page or repo).last_commit -%>
          <label>Last Commit:</label>
          <%= time_ago_in_words((page or repo).last_commit_at) %> ago by
	  <%= git_author((page or repo).last_commit_by) %>
        <% else -%>
	  <label>Untracked</label>
        <% end -%>
      </li>
      <% if logged_in? -%>
      <li class="action">
	<%= link_to("new", af_path(:new, page, :repo => repo.path),
                    :class => 'new', :title => 'create a new page') %>
      </li>
      <% end -%>
    </ul>
  <% end -%>
  <% if page -%>
    <%= render(:partial => 'shared/header_page_actions', :locals => {:page => page}) %>
  <% elsif git -%>
    <%= render(:partial => 'shared/header_git_actions', :labels => {:git => git}) %>
  <% end -%>
    <div class="clear-both"></div>
</div>
