<h3>Commit history for <%= link_to(page.name, af_path(:view, page)) %></h3>
<ul id="history">
  <% history.each do |commit| -%>
  <li>
    <div class="actions">
      <ul>
	<li>
	  <%= link_to_remote("clear",
                             :url => af_path(:commit_clear, page, :sha => commit.sha),
                             :html => { :class => "clear" }) %>
	</li>
	<% if logged_in? -%>
	<li>
	<%= link_to("revert",
                    af_path(:commit_revert, page, :sha => commit.sha),
                    :class => "revert",
                    :title => "revert to the version of #{page.name} present at this commit") %>
	</li>
	<% end -%>
	<li>
	<%= link_to_remote("diff",
                           :url => af_path(:commit_diff, page, :sha => commit.sha),
                           :html => {
                             :class => "diff",
                             :title => "view the changes introduced by this commit"}) %>
	</li>
	<li>
	<%= link_to_remote("view",
                           :url => af_path(:commit_view, page, :sha => commit.sha),
                           :html => {
                             :class => "inspect",
                             :title => "view this version of #{page.name}"}) %>
	</li>
      </ul>
    </div>
    <div class="info">
      <%= render :partial => 'shared/show_commit', :locals => {:commit => commit} %>
    </div>
    <div class="body" id="<%= commit.sha %>"></div>
  </li>
  <% end -%>
</ul>
