<h3>Commit history for <%= link_to(@page.name, page_path(@page)) %></h3>
<ul id="history">
  <% @history.each do |commit| -%>
  <li>
    <div class="actions">
      <ul>
	<li>
	  <%= link_to_remote("hide",
                             :url => {:action => :commit_clear, :id => @page, :sha => commit.sha},
                             :html => { :class => "hide" }) %>
	</li>
	<% if logged_in? -%>
	<li>
	<%= link_to_remote("revert",
                           :url => {},
                           :html => {
                             :class => "revert",
                             :title => "revert to the version of #{@page.name} present at this commit"}) %>
	</li>
	<% end -%>
	<li>
	<%= link_to_remote("diff",
                           :url => {:action => :commit_diff, :id => @page, :sha => commit.sha},
                           :html => {
                             :class => "diff",
                             :title => "view the changes introduced by this commit"}) %>
	</li>
	<li>
	<%= link_to_remote("view",
                           :url => {:action => :commit_view, :id => @page, :sha => commit.sha},
                           :html => {
                             :class => "inspect",
                             :title => "view this version of #{@page.name}"}) %>
	</li>
      </ul>
    </div>
    <div class="info">
      <label>Author:</label> <%= git_author(commit.author) %>
      <label>Date:</label> <%= commit.date %>
      <label>Sha:</label> <%= truncate(commit.sha, 10) %>
      <br/>
      <pre><%= commit.message %></pre>
    </div>
    <div class="body" id="<%= commit.sha %>"></div>
  </li>
  <% end -%>
</ul>
